body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  background-color: #1c2128;
  color: #adbac7
}

table td {
  background: #2d333b;
}

table th {
  background: #2d333b;
}

code.language-markdown {
  color: white;
  background: #22272e !important;
}

code {
  color: white;
  background: #22272e !important;
}

