.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	background-color: rgb(70, 3, 146);
	position: fixed;
	top: 0;
	width: 100%;
	padding: 8px;
	
	.navLinks {
		border-radius: 5px;
		padding: 8px;

		.link {
			font-size: 18px;
			color: white;
			padding: 8px;
			text-decoration: none;
			
		}
	}
}